body {
    background: #272727;
    color: #fff;
}
.query-status {
  color: #00a357;
  text-align: center;
  font-size: 1.5rem;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.query-status i {
    padding: 0.5rem;
}

.redirecting {
  color: #fff;
  text-align: center;
  font-family: monospace;
}
